/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
	padding-top: 3.5rem;
	font-family: 'Quicksand', 'Open Sans', sans-serif;
}

nav {
	/*background-color: #444444;*/
}


.jumbotron {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#jumbo_main {
	/*background-image: url("../img/window-cleaner.jpg");*/
	/*background-image: url("../img/pexels-photo-sm.jpg");*/
	/*background-image: url("/img/IMG_7400-cr.jpg");*/
	/*background-image: url("/img/picolo.jpg");*/
	background-image: url("/img/osmoworks-over-ons-02.jpg");
	/*height: 500px;*/
	/*background-image: url("/img/trui_og_bw.jpg");*/
	height: 75vh;
}

#jumbo_main h1 {
	text-align: center;
	font-size: 5em;
}

#jumbo_main p {
	font-size: 1.2em;
}

#jumbo_main .lead {
	text-align: center;
	font-size: 2em;
}

#jumbo_sec {
	/*background-image: url("../img/pexels-photo-69903.jpeg");*/
	/*background-image: url("/img/trui_og-bw0.jpg");*/
	background-image: url("/img/IMG_7400-cr.jpg");
	height: 800px;
}

#jumbo_sec .btn {
	text-align: center;
}

.jumbotron > .container {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	vertical-align: middle;
}

.info_col {
	text-align: justify;
	margin-bottom: 50px;
}

.info_col > h2 {
	text-align: center;
}

.info_col > img {
	width: 20%;
	margin-right: 10px;
	float: left;
	/*-webkit-border-radius: 10px;*/
	/*-moz-border-radius: 10px;*/
	/*border-radius: 10px;*/
}

.icons svg {
	margin: 0 3px;
}

.icons a {
	   color: black;
	   text-decoration: none;
}

/*footer {*/
	/*height: 3em;*/
	/*position: absolute;*/
/*}*/
