/*
Styling specifically for home page
 */

.jumbotron {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0;

	// vertical center
	display: flex;
	align-items: center;

	.container {
		padding: 20px;
		background: rgba(255, 255, 255, 0.7);

		h1 {
			margin: 0;
		}
	}
}

#jumbo_main {
	background-image: url("/static/img/bg/bg1.jpg");
	height: 65vh;

	text-align: center;

	h1 {
		font-size: 5em;
	}

	.lead {
		font-size: 2em;
	}
}

#jumbo_sec {
	background-image: url("/static/img/bg/bg2.jpg");
	height: 85vh;
	@media (max-width: 767px) {
		height: 120%; // make sure jumbo fits img + text when stacked
	}
	
	#services_btn {
		text-align: center;
	}

	// vertically center text next to photo
	#jumbo_sec_text {
		text-align: justify;
		display: flex;
		align-items: center;
	}
}

.info_col {
	text-align: justify;
	margin: 25px 0;

	h2 {
		text-align: center;
	}

	img {
		width: 20%;
		margin-right: 10px;
		float: left;
	}

	#info_col_contact {
		img {
			width: 100%;
		}
		font-size: 1.3em;
		//.contactlinks {
		//	margin-left: 25%;
		//}
	}
}

.social h2 {
	text-align: center;
}

.contactlinks {
	a {
		text-decoration: none;
		color: black;
	}
}
