/*
Styling specifically for home page
 */
.jumbotron {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  display: flex;
  align-items: center; }
  .jumbotron .container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.6); }
    .jumbotron .container h1 {
      margin: 0; }

#jumbo_main {
  background-image: url("/static/img/bg/bg1.jpg");
  height: 65vh;
  text-align: center; }
  #jumbo_main h1 {
    font-size: 5em; }
  #jumbo_main .lead {
    font-size: 2em; }

#jumbo_sec {
  background-image: url("/static/img/bg/bg2.jpg");
  height: 85vh; }
  @media (max-width: 767px) {
    #jumbo_sec {
      height: 120%; } }
  #jumbo_sec #services_btn {
    text-align: center; }
  #jumbo_sec #jumbo_sec_text {
    text-align: justify;
    display: flex;
    align-items: center; }

.info_col {
  text-align: justify;
  margin: 25px 0; }
  .info_col h2 {
    text-align: center; }
  .info_col img {
    width: 20%;
    margin-right: 10px;
    float: left; }
  .info_col #info_col_contact {
    font-size: 1.3em; }
    .info_col #info_col_contact img {
      position: absolute; }
    .info_col #info_col_contact svg {
      margin-left: 25%; }

.social h2 {
  text-align: center; }
