/*
Styling for other pages
 */

#diensten {
	h2 {
		text-align: center;
	}

	img {
		display: block;
		width: 70%;
		//margin-left: auto;
		//margin-right: auto;

		margin: 20px auto;

	}
}

#referenties {
	img {
		max-height: 250px;

		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.row {
		margin: 20px auto;
	}
	@media (max-width: 767px) {
		img {
			max-height: none;
			width: 80%;
			margin: 10px auto;
		}
	}
}



